body {font-family: "Lato", sans-serif;}

html {
    margin: 0px 75px 40px;
}

.tablink {
    position: relative;
    background-color: rgb(218, 214, 214);
    color:black;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 8.5px 0px 8.5px 0px;
    font-size: 15px;
    width: 221.5px;
    box-shadow: 20px 20px 20px rgb(0, 0, 0, 0.266);
    transition: 1s;
}

.tablink:hover {
    position: relative;
    background-color: rgb(177, 174, 174);
    color: blue;
}

.tabcontent {
    position: relative;
    color: black;
    display: none;
    padding: 10px;
    text-align: center;
    border-top: solid black;
}

.paragraph {
    position: relative;
    border-top: solid 4px rgba(248, 211, 211, 0.507);
    border-bottom: solid 4px rgba(248, 211, 211, 0.507);
    padding-left: 80px;
    padding-right: 80px;
}

.tableCalculator {
    position: relative;
    background-color: bisque;
    border: solid 2px black;
    padding: 20px;
    width: 400px;
    margin-left: 100px;
}

.recommendations {
    position: relative;
    border-top: solid 4px rgba(248, 211, 211, 0.507);
    border-bottom: solid 4px rgba(248, 211, 211, 0.507);
    padding-left: 80px;
    padding-right: 80px;
}

#myButton {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 99; 
    border: none;
    outline: none;
    background-color:rgba(245, 168, 26, 0.829);
    color:black; 
    cursor: pointer; 
    padding: 15px; 
    border-radius: 10px; 
    font-size: 18px; 
    border-top: solid 2px black;
    border-bottom: solid 2px black;
    opacity: 1;
}

#myButton:hover {
    background-color: rgba(56, 247, 31, 0.644); 
    opacity: 0.9;
}

.block-images {
    position: relative;
    padding-left:195px;
    padding-right: 195px; 
}

.block-images:hover {
    display: block;
    text-decoration: none;
    transition: color 0.4s ease;
    box-sizing: border-box;
}

.images-rows {
    border: solid 2px rgb(165, 165, 165);
    padding: 10px;
    background-color: rgba(248, 211, 211, 0.26);
    border-radius: 10px;
}

.recipe-images {
    position: relative;
    opacity: 0.80;
    transition: 0.5s ease;
    filter: saturate(100%);
}

.recipe-images:hover {
    position: relative;
    opacity: 1;
    filter: saturate(150%);
}

.recipes {
    position: relative;
    margin-left: 80px; 
    margin-right: 70px; 
    border: solid 2px rgb(165, 165, 165);
    padding: 10px;
    background-color:rgba(196, 245, 237, 0.342);
}

.recipe {
    position: relative;
    border: solid 2px rgb(125, 127, 129);
    background-color: rgba(248, 183, 183, 0.432);
    padding: 10px;
}

.image-and-ingredients {
    position: relative;
    border: solid 1px rgb(125, 127, 129);
    background-color: rgba(255, 255, 255, 0.66);
    padding: 10px;
    margin-left: 30px;
    margin-right: 640px;
    box-shadow : 5px 10px 5px rgb(218, 214, 214);
    border-top: solid 2px black;
    border-bottom: solid 2px black;
    border-radius: 10px;
}

.ingredients {
    position: relative;
    font-size:80%;
    font-style: italic;
    font-style: bold;
}

.method {
    position: absolute;
    top:0;
    right:0;
    margin-left: 310px;
    padding-top: 70px;
    font-size: 90%;
    color: rgb(98, 98, 117);    
    font-style: italic;

}

.preparation {
    position: relative;
    font-style: italic;
    font-weight: bold;
    font-size: 70%;
}

.images {
    position: relative;
    top: 10px;
    left: 10px;
    padding: 10px;
}

.alert {
    margin-left: 400px; 
    margin-right: 400 px;
    padding: 20px;
    background-color: #fa958e; 
    color: black;
    margin-bottom: 15px;
    
}

.closebtn {
    padding-top: 4px;
    color: rgb(124, 124, 124);
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.closebtn:hover {
    color: black;
}


.tableBMI {
    position: relative;
    border: solid 2px rgb(125, 127, 129);
    background: repeat-x;
    background-color: rgba(248, 183, 183, 0.432);
    margin-left: 75px; 
    margin-right: 75px;
}

#homePage {
    position: relative; 
    background-color:rgb(218, 214,214); 
    margin-left: 75px; 
    margin-right: 75px;
}

#calorieCalculator {
    position: relative; 
    background-color:rgb(210, 250, 151); 
    margin-left: 75px; 
    margin-right: 75px;
}

#table-products {
    position: relative;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 350px;
    text-align: center;
    font-size: 15px;
}

#table-products td, #table-products th {
    border: 1px solid rgba(39, 107, 121, 0.596);
    padding: 2px;
}

#table-products tr:nth-child(even) {
    background-color:rgb(242, 248, 248);
}

#table-products tr:hover {
    background-color: rgba(179, 177, 175, 0.616);
}

#table-products th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color:rgba(102, 252, 164, 0.596);
    color: black;
    font-size: 16px;
}


#calculateCalories-Button {
    position: relative;
    background-color: rgba(70, 197, 123, 0.849);
    width: 140px;
    font-size: 16px;
    padding: 14px 40px;
    border-radius: 10px;
    color: black;
    font: bold;
    margin-left: 130px; 
    transition-duration: 0.4s;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

#calculateCalories-Button:hover {
    background-color: rgba(39, 107, 121, 0.596);
}
        
#calculateCalories-Button:active {
    background-color: rgb(112, 122, 54);
    box-shadow: 0 5px rgb(119, 117, 117);
    transform: translateY(4px);
}
        

#bmiCalculator {
    position: relative; 
    background-color:rgb(194, 240, 248);
     margin-left: 75px; 
     margin-right: 75px;
}

#recommendations {
    position: relative; 
    background-color:rgb(253, 251, 148); 
    margin-left: 75px; 
    margin-right: 75px;
}

#recipes {position: relative;
    background-color:rgb(252, 202, 137); 
    margin-left: 75px; 
    margin-right: 75px;
}

#wall {position: relative; 
    border-bottom-style: solid;
}

#logo {
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 1;
    margin-left: 83px;
    margin-top: 8px; 
    filter: grayscale(40%);
    box-shadow : 5px 10px 5px rgb(218, 214, 214);
    border: solid black;
    height: 12%;
}

li a:hover {
    position: relative;
    color: blue;
}

tr th {
    font-size: 90%;
    color: rgb(28, 28, 168);    
    font-style: italic;
    padding-left: 20px;
}

.social {
    position: absolute;
    right: 0px;
    top: 0px;
    z-index: 1;
    margin-right: 83px;
    margin-top: 8px; 
   filter: grayscale(40%);
   height: 40px;
   width: 40px;
} 

h3, h4 {
    position: relative;
    margin-left: 90px;
}

p, ol, ul {
    position: relative;
    line-height: 1.8;
    text-align: justify;
    margin-left: 80px; 
    margin-right: 70px;
}

img {
    max-width: 100%;
    height: auto;
}
