body {font-family: "Lato", sans-serif;}

html {
    margin: 0px 75px 40px;
}

.tablink {
    position: relative;
    background-color: rgb(218, 214, 214);
    color:black;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 8.5px 0px 8.5px 0px;
    font-size: 15px;
    width: 20%;
    box-shadow: 20px 20px 20px rgb(0, 0, 0, 0.266);
    transition: 1s;
}

.tablink:hover {
    position: relative;
    background-color: rgb(177, 174, 174);
    color: blue;
}

.tabcontent {
    position: relative;
    color: black;
    display: none;
    padding: 10px;
    text-align: center;
    border-top: solid black;
}

.paragraph {
    position: relative;
    border-bottom: solid 4px rgba(248, 211, 211, 0.507);
    padding-left: 80px;
    padding-right: 80px;
}

.italic {
    font-style: italic;
    font-size: 13px; 
    padding-left: 20px;
}
.center { 
    margin: auto; 
    text-align: center;
}

.tableCalculator {
    position: relative;
    background-color: bisque;
    border: solid 2px black;
    box-shadow: 0 0 15px rgb(116, 115, 115);
    -webkit-box-shadow: 0 0 15px rgb(116, 115, 115);
    padding: 20px;
    width: 400px;
    margin-left: 100px;
}

#searchInput {
    position: relative;
    width: 240px;
    font-style: italic;
    padding-left: 0px;
}

.search {
margin-right: 0px;
padding-left: 100px;
}

.recommendedCalorieIntakeCalculator {
    background-color:rgb(210, 250, 151); 
    position: relative;
    box-shadow: 0 0 15px rgb(116, 115, 115);
    -webkit-box-shadow: 0 0 15px rgb(116, 115, 115);
    padding: 20px;
    width: 400px;
    margin-left: 100px;
}

#img-male-female {
    position: relative;
}

.gender-image {
    width: 90px;
    height: 90px;
    border: solid 10px rgba(245, 168, 26, 0.829);
    border-radius: 50%;
    margin: 10px;
}

label {
    display: block;
    margin: 5px 0 0 0;
}

.overflow {
    height: 40px;
  }

#scrollButton {
    display: none;
    position: fixed;
    bottom: 50px;
    right: 50px;
    z-index: 99;
    outline: none;
    border: solid 10px rgba(245, 168, 26, 0.829);
    background-color: rgba(245, 168, 26, 0.829);
    cursor: pointer;
    border-radius: 50%;
    opacity: 1;
}

#scrollButton:hover {
    border: solid 10px rgba(63, 175, 48, 0.644); 
    background-color: rgba(63, 175, 48, 0.644);
    opacity: 0.9;
}

.block-images {
    position: relative;
    padding-left:195px;
    padding-right: 195px; 
}

.block-images:hover {
    display: block;
    text-decoration: none;
    transition: color 0.4s ease;
    box-sizing: border-box;
}

.recipe-images {
    position: relative;
    cursor: pointer;
    transition: 0.5s ease;
    filter: saturate(100%);
}

.recipes h3 {
    padding-top: 15px;
}

.recipe-images:hover {
    position: relative;
    filter: saturate(150%);
}

.non-display {
display: none;
}

.hidden {
visibility: hidden;
}

.border {
    border: solid 2px black;
    background-image: url(../resources/recipe-book-background.png);
    box-shadow : 5px 10px 5px rgb(218, 214, 214);
    border-top: solid 2px black;
    border-bottom: solid 2px black;
    border-radius: 10px;
    padding-left: 50px;
    padding-right: 50px;
}

.recipe-details {
    position: relative; 
    border: solid 1px rgb(125, 127, 129);
    background-color: rgba(255, 255, 255, 0.66);
    padding: 10px;
}

.ingredients {
    position: relative;
    font-size: 12px;
    font-style: italic;
    font-style: bold;
}

.method {
    position: absolute;
    top:0;
    right:0;
    margin-left: 310px;
    padding-top: 70px;
    font-size: 90%;
    color: black;
    font-style: italic;

}

.preparation {
    position: relative;
    font-style: italic;
    font-weight: bold;
    font-size: 70%;
}

.images {
    position: relative;
    top: 10px;
    left: 10px;
    padding: 10px;
}

.carousel {
    position: relative;
    margin-top: 26px;
    padding-left: 180px;
    padding-right: 180px;
}

.carousel-inner {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 500px;
    background-image: url("../resources/tablecloth-backround.png");
    border-radius: 20%;
    border: solid 2px black;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 40px 0 rgba(0,0,0,0.19);
}

.carousel-open:checked + .carousel-item {
    position: static;
    opacity: 100;
}

.carousel-item {
    position: absolute;
    opacity: 0;
}

.carousel-item img {
    height: auto;
    padding: 5px;
    margin: 30px 20px 30px;
    border-radius: 45%;
    width:30%;
}

.carousel-item h3 {
    font-size: 30px;
    margin-left: 20px;
}

.carousel-item p {
    font-style: italic;
    margin-left: 120px;
}

.carousel-control {
    background: rgba(0, 0, 0, 0.28);
    border-radius: 50%;
    color: rgb(255, 255, 255);
    cursor: pointer;
    display: none;
    font-size: 40px;
    height: 40px;
    line-height: 35px;
    position: absolute;
    top: 50%;
    -webkit-transform: translate(0, -50%);
    cursor: pointer;
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    text-align: center;
    width: 40px;
    z-index: 10;
}

.carousel-control.prev {
    left: 2%;
}

.carousel-control.next {
    right: 2%;
}

.carousel-control:hover {
    background: rgba(0, 0, 0, 0.8);
    color: rgb(170, 170, 170);
}

#carousel-1:checked ~ .control-1,
#carousel-2:checked ~ .control-2,
#carousel-3:checked ~ .control-3 {
    display: block;
}

.carousel-indicators {
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
    bottom: 2%;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 10;
}

.carousel-indicators li {
    display: inline-block;
    margin: 0 5px;
}

.carousel-bullet {
    color: rgb(248, 183, 183);
    cursor: pointer;
    display: block;
    font-size: 55px;
}

.carousel-bullet:hover {
    color: rgb(170, 170, 170);
}

#carousel-1:checked ~ .control-1 ~ .carousel-indicators li:nth-child(1) .carousel-bullet,
#carousel-2:checked ~ .control-2 ~ .carousel-indicators li:nth-child(2) .carousel-bullet,
#carousel-3:checked ~ .control-3 ~ .carousel-indicators li:nth-child(3) .carousel-bullet {
    color: rgb(66, 139, 202);
}

.tableBMI {
    position: relative;
    width: 350px;
    border: solid 2px rgb(125, 127, 129);
    background-color: rgba(248, 183, 183, 0.432);
    box-shadow: 0 0 15px rgb(116, 115, 115);
    -webkit-box-shadow: 0 0 15px rgb(116, 115, 115);
    margin-left: 95px;
    margin-right: 75px;
}

.tableBMI td, th {
    border: 1px solid black;
}

.break { 
    padding-bottom: 65px; 
}

#homePage {
    background-color:rgb(218, 214,214); 
}

#calorieCalculator {
    background-color:rgb(210, 250, 151); 
}

#bmiCalculator {
    background-color:rgb(194, 240, 248);
}

#recommendations {
    background-color:rgb(253, 251, 148); 
}

#recipes {
    background-color:rgb(252, 202, 137); 
}

#table-products {
    position: relative;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 350px;
    text-align: center;
    font-size: 15px;
}

#table-products td, #table-products th {
    border: 1px solid rgba(39, 107, 121, 0.596);
    padding: 2px;
}

#table-products tr:nth-child(even) {
    background-color: rgb(242, 248, 248);
}

#table-products tr:hover {
    background-color: rgba(179, 177, 175, 0.616);
}

#table-products th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color:rgba(102, 252, 164, 0.596);
    color: black;
    font-size: 16px;
}

#calculateCalories-Button, #calculateRDCI-Button {
    position: relative;
    background-color: rgba(63, 175, 48, 0.644);
    width: 140px;
    font-size: 16px;
    padding: 14px 40px;
    border-radius: 10px;
    color: black;
    margin-left: 130px; 
    transition-duration: 0.4s;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

#calculateCalories-Button:hover, #calculateRDCI-Button:hover {
    background-color: rgba(39, 107, 121, 0.596);
}
        
#calculateCalories-Button:active, #calculateRDCI-Button:active {
    background-color: rgb(112, 122, 54);
    box-shadow: 0 5px rgb(119, 117, 117);
    transform: translateY(4px);
}

#resetCalories-button, #resetRDCI-button {
    position: relative;
    background-color: rgba(245, 168, 26, 0.829);
    width: 140px;
    font-size: 16px;
    padding: 14px 40px;
    border-radius: 10px;
    color: black;
    font: bold;
    margin-left: 130px; 
    transition-duration: 0.4s;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
#resetCalories-button:hover, #resetRDCI-button:hover {
    background-color: rgba(39, 107, 121, 0.596);
}
        
#resetCalories-button:active, #resetRDCI-button:active {
    background-color: rgb(112, 122, 54);
    box-shadow: 0 5px rgb(119, 117, 117);
    transform: translateY(4px);
}

.read-more {      
    margin-left: 65%; 
    padding: 3px 10px;
    color: rgb(103, 58, 117); 
    cursor: pointer;
}

.read-more:hover {
    color: blue;
    text-decoration: underline;
}

.hidden-info {
    visibility: hidden;
    display: none;
    color: black;
}

.margin {
    margin-bottom: 20px;
    margin-top: 20px;
}

.amount {
    font: bold;
    font-size: 25px;
}

#wall {position: relative; 
    border-bottom-style: solid;
}

#logo {
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 1;
    margin-left: 83px;
    margin-top: 8px; 
    filter: grayscale(40%);
    box-shadow : 5px 10px 5px rgb(218, 214, 214);
    border: solid black;
    height: 12%;
}

li a:hover {
    position: relative;
    color: blue;
}

tr th {
    font-size: 90%;
    color: rgb(28, 28, 168);    
    font-style: italic;
    padding-left: 20px;
}

h3, h4 {
    position: relative;
    margin-left: 90px;
}

p, ol, ul {
    position: relative;
    line-height: 1.8;
    text-align: justify;
    margin-left: 80px; 
    margin-right: 70px;
}

img {
    max-width: 100%;
    height: auto;
}

.calc-area {
	margin:0 auto;
	max-width:932px;
	padding: 0 10px;
}

.top-area-calc {
	background:rgb(246, 246, 246);
	position:relative;
    overflow:hidden;
    box-shadow: 0 0 15px rgb(116, 115, 115);
    -webkit-box-shadow: 0 0 15px rgb(116, 115, 115);
    padding: 5px;
    margin-left: 100px;
    width: 690px;
}

.top-area-calc .img {
    max-width: 100%;
    height: auto;
}

.calc-frame {
    position: relative;
    background:rgb(233, 233, 233);
    box-shadow: 0 0 15px rgb(116, 115, 115);
    -webkit-box-shadow: 0 0 15px rgb(116, 115, 115);
    padding: 5px;
    margin-left: 100px;
    width: 700px;
	overflow: hidden;
}

.calc-main-area .box {
    display: none;
    position: relative;
    overflow: hidden;
    padding-bottom: 15px;
}

.box #box03 {
    display: none;
}

.calc-frame .img {
    max-width: 100%;
    height: auto;
}

.calc-frame .text-box {
	overflow:hidden;
    padding:62px 0 3px 2px;
    top: 15%;
    right:25%;
}

.calc-frame .error-txt {
	display:block;
	color:rgb(237, 121, 84);
	font-size:16px;
	line-height:20px;
	font-style:italic;
    opacity:0;
}

.calc-frame h3 {
	margin:0 0 20px;
	font-size:17px;
}

.calc-frame .row {
	overflow:hidden;
	padding:0 0 39px;
}

.calc-frame .row input {
	float:left;
	width:76px;
	margin:0 15px 0 0;
	border:solid rgb(209, 211, 212);
	border-width:2px 0 0 2px;
	background:rgb(255, 255, 255);
	font-size:26px;
	height:20px;
	padding:7px 15px;
	text-align:center;
}

.calc-frame .row .txt {
	float:left;
	padding:10px 0 0;
	font-size:17px;
	line-height:26px;
	font-weight:bold;
}

.btn-next {
	display:block;
	width:146px;
	height:48px;
	background:rgba(245, 168, 26, 0.829);
	text-decoration:none;
	text-transform:uppercase;
	color:rgb(255, 255, 255)!important;
	font-weight:bold;
	font-size:18px;
	line-height:48px;
	border-radius:10px;
	text-align:center;
    box-shadow: 0 0 3px rgb(116, 115, 115);
    -webkit-box-shadow: 0 0 3px rgb(116, 115, 115);
}

.btn-next:hover {
    opacity:0.8;
    text-decoration: none!important;
}

.result-area-calc {
	background:rgb(255, 255, 255);
    box-shadow: 0 0 15px rgb(116, 115, 115);
    -webkit-box-shadow: 0 0 15px rgb(116, 115, 115);
    display:none;
}

.result-area-calc:first-child {
    display:block;
}

.result-area-calc:after {
	content:"";
	clear:both;
	display:block;
}

.result-area-calc .img-box {
	max-width:355px;
	float:left;
	width:40%;
	box-sizing:border-box;
	-webkit-box-sizing:border-box;
	position:relative;
	text-align:center;
	padding:72px 10px 15px;
}

.result-area-calc .img-box .title {
	position:absolute;
	top:-15px;
	left:0;
	width:100%;
	text-align:center;
}

.result-area-calc .img-box .title h2 {
	background:rgb(65, 64, 66)!important;
	color:rgb(255, 255, 255);
	font:bold 24px/29px "Oswald", Arial, Helvetica, sans-serif;
}

a.btn-next.calculate {
text-decoration: none!important;
}

.result-area-calc .img-box .title h2:after {
background:none;
}

.info-area h2 span {
    background: none!important;
    padding: 0px!important;
}

.result-area-calc .txt-box {
	overflow:hidden;
	background:rgb(246, 246, 246);
    color:rgb(35, 31, 32);
    margin-left: 0px;
    display:block;
}

.result-area-calc .top-lst-calc {
	font-size:20px;
	line-height:24px;
	margin:0 0 25px;
	padding:0 0 20px;
	border-bottom:1px solid rgb(177, 178, 181);
	list-style:none;
}

.result-area-calc .top-lst-calc li {
    padding:0 0 10px;
}

.result-area-calc .txt-box .ttl { 
	display:block;
	font-size:20px;
	line-height:28px;
	padding:0 0 10px;
}

#result01.result-area-calc .txt-box .ttl .decor {
    color:rgb(153, 186, 185);
}

#result02.result-area-calc .txt-box .ttl .decor {
    color:rgb(166, 186, 82);
}

#result03.result-area-calc .txt-box .ttl .decor {
    color:rgb(244, 180, 0);
}

#result04.result-area-calc .txt-box .ttl .decor {
    color:rgb(230, 108, 107);
}

.result-area-calc .txt-box .add-text {
	display:block;
	color:rgb(230, 108, 107);
	font-size:14px;
	line-height:18px;
	font-style:italic;
	font-weight:normal;
}

.result-area-calc .txt-box p {
	margin:0 0 20px;
	font-size:14px;
	line-height:18px;
}

.result-area-holder {
	display:inline-block;
	vertical-align:top;
	color:rgb(75, 187, 201);
	font-weight:bold;
	font-size:16px;
	line-height:22px;
    text-decoration:none;
    margin-left: 100px;
    width: 700px;
    display:inline-block;
    position: relative;
}
	
.top-area-calc .img {
	width:auto;
	margin:0;
	max-width:none;
    float: left;
}
    
.top-area-calc .txt-box {
	padding:0 20px;
    text-align:center;
    left:0;
}
    
.calc-frame {
     padding:5px 0;
}

.calc-frame .img {
	width:auto;
	margin:0;
	max-width:none;
    float: left;
}

.calc-frame .text-box {
    max-width:230px;
    margin:0 auto;
    padding:70px 0;
}
    
.result-area-calc .img-box {
	width:auto;
    float: left;
}

.result-area-calc .txt-box {
    padding:25px;
    margin:0 auto;
    width:auto;
}

.calculate-form:invalid {
    border-bottom: 2px solid rgb(230, 108, 107);
}

.calculate-form:valid {
    border-bottom: 2px solid rgb(107, 230, 134);
}

#recommended-intake-form input[type="number"] {
    width: 80px;
    height: 18px;
}